.mainContent {
  max-width: 1280px;
  margin-inline: auto;
  padding: 2rem 1rem;
}

.movieGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  grid-auto-rows: auto;
}

@media (min-width: 768px) {
  .moviesGrid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .movieGrid {
    grid-template-columns: repeat(4, 1fr);
  }
}
@media (min-width: 1280px) {
  .moviesGrid {
    grid-template-columns: repeat(5, 1fr);
  }
}
